<h2>Welcome to ShortLink!</h2>

<div id="error-explanation"></div>

<h5>Please enter your URL here</h5>

<%= form_with id: 'short-link-form', model: ShortLink.new do |form| %>
  <%= form.text_field :long_url, required: true %>
  <%= form.submit 'SHORTEN' %>
<% end %>

<div id="short-link"></div>
